<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configuration>
		<system.web>
			<compilation debug="true" targetFramework="4.0" />
			<httpModules>
				<add name="DomainServiceModule"
				   type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, 
               System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, 
               Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</httpModules>
		</system.web>
		<system.webServer>
			<modules runAllManagedModulesForAllRequests="true">
				<add name="DomainServiceModule" preCondition="managedHandler"
				   type="System.ServiceModel.DomainServices.Hosting.DomainServiceHttpModule, 
               System.ServiceModel.DomainServices.Hosting, Version=4.0.0.0, 
               Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</modules>
			<validation validateIntegratedModeConfiguration="false" />
		</system.webServer>
		<system.serviceModel>
			<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		</system.serviceModel>
		<runtime>
			<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
				<dependentAssembly>
					<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
					<bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
				</dependentAssembly>
			</assemblyBinding>
		</runtime>
	</configuration>
</configuration>